@model IEnumerable<MvcCoreDynamoDb.Models.Coche>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">CREAR</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCoche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCoche)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                <img src="@item.Imagen" style="width:100px;height:100px">
            </td>
            <td>
                
                    <a asp-action="Details" asp-route-id="@item.IdCoche">Detalles</a>  |
                    <a asp-action="Delete" asp-route-id="@item.IdCoche">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
